/*Main CSS*/
body {
	font-family:$primaryFont;
	line-height:1.4;
	font-size:16px;
	display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
     div {
		flex: 1;
    	align-items: stretch;
	}
}

html, body {
	width:100%;
	height:100%;
}

header, footer {
	background-color:#020202;
	color:#efefef;
	float:left;
	width:100%;
}


/*Typograpghy Classes*/
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family:$secondaryFont;
} 

h1, .h1 {
	font-size:40px;
	padding:0 0 $setSpacing /2 0;
}

h2, .h2 {
	font-size:32px;
	padding:0 0 $setSpacing /2 0;
}

h3, .h3 {
	font-size:26px;
	padding:0 0 $setSpacing /2 0;
}

h4, .h4 {
	font-size:20px;
	padding:0 0 $setSpacing /2 0;
}

p, ul, ol {
	padding:0 0 $setSpacing /2 0;
	widows: 2;
}

#main-content {
	display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
	 > div {
		  flex: 1;
		  align-items: stretch;
	} 
}

.hero {
	background-size:cover;
	position:relative;
	text-align:center;
	h2 {
		font-size:50px;
	}
}

.overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	&.orange {
		background-color:rgba(255, 153, 0,0.1);
	}

	&.green {
		background-color:rgba(91, 194, 54,0.1);
	}
}

.top-left {
	background-image:url('../images/TazJamieT.JPG');
}

.top-right {
	background-image:url('../images/taz2.jpg');
}

.bottom-left {
	background-image:url('../images/taz2.jpg');
}


.bottom-right {
	background-image:url('../images/TazJamieT.JPG');
}


/*Form Styles*/
/*
:required {
	background:red;
}

:required:hover {
	
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { 
  color: #ccc;
}

::-moz-placeholder { 
   color: #ccc;
}

:-ms-input-placeholder {  
   color: #ccc;  
}

input[type=text], input[type=email], input[type=password] {
	
}

button, input[type="submit"], .button {
	
}

.form-field-wrapper {

}

*/

/*Elastic Videoes / Maps*/
.item-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.item-container iframe,  
.item-container object,  
.item-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
