<%= partial "header" %>


 <div id="preload">
      <h1>Loading...</h1>
 </div>


 <div class="wrapper-100 green-bg" >
    <div class="container">
    	<div class="padded-content">
			<h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non.
			</h2><p>
			Nam dignissim, velit in tempor elementum, sapien risus consequat orci, sed semper arcu nisl sit amet massa. Etiam tempor ante a sodales scelerisque. Sed diam lorem, faucibus ac elementum ornare, scelerisque id nunc. Nullam convallis ipsum augue, id ornare eros egestas id. Etiam eget urna eu tellus ornare tristique nec ut lectus. Integer nulla tellus, mollis et dictum facilisis, mollis nec velit. Vivamus sit amet porta libero. Sed diam sapien, efficitur a neque quis, molestie ultricies arcu. Donec ornare aliquam nibh, in tempor neque auctor vel. Praesent orci metus, pretium id leo sit amet, posuere vulputate tortor. Fusce pellentesque volutpat lorem sit amet vestibulum.
			</p>
		</div>
	</div>
</div>
<div id="spin" class="wrapper-100" >
	<div class="container">
		<div class="padded-content">
			<h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non.
			</h2><p>
			Nam dignissim, velit in tempor elementum, sapien risus consequat orci, sed semper arcu nisl sit amet massa. Etiam tempor ante a sodales scelerisque. Sed diam lorem, faucibus ac elementum ornare, scelerisque id nunc. Nullam convallis ipsum augue, id ornare eros egestas id. Etiam eget urna eu tellus ornare tristique nec ut lectus. Integer nulla tellus, mollis et dictum facilisis, mollis nec velit. Vivamus sit amet porta libero. Sed diam sapien, efficitur a neque quis, molestie ultricies arcu. Donec ornare aliquam nibh, in tempor neque auctor vel. Praesent orci metus, pretium id leo sit amet, posuere vulputate tortor. Fusce pellentesque volutpat lorem sit amet vestibulum.
			</p>
		</div>
	</div>
</div>

 <div class="wrapper-100  green-bg">
    <div class="container">
    	<div class="padded-content">
			<h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non.
			</h2><p>
			Nam dignissim, velit in tempor elementum, sapien risus consequat orci, sed semper arcu nisl sit amet massa. Etiam tempor ante a sodales scelerisque. Sed diam lorem, faucibus ac elementum ornare, scelerisque id nunc. Nullam convallis ipsum augue, id ornare eros egestas id. Etiam eget urna eu tellus ornare tristique nec ut lectus. Integer nulla tellus, mollis et dictum facilisis, mollis nec velit. Vivamus sit amet porta libero. Sed diam sapien, efficitur a neque quis, molestie ultricies arcu. Donec ornare aliquam nibh, in tempor neque auctor vel. Praesent orci metus, pretium id leo sit amet, posuere vulputate tortor. Fusce pellentesque volutpat lorem sit amet vestibulum.
			</p>
		</div>
	</div>
</div>

<div class="wrapper-100" >
	<div class="container">
		<div class="padded-content">
			<h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non.
			</h2><p>
			Nam dignissim, velit in tempor elementum, sapien risus consequat orci, sed semper arcu nisl sit amet massa. Etiam tempor ante a sodales scelerisque. Sed diam lorem, faucibus ac elementum ornare, scelerisque id nunc. Nullam convallis ipsum augue, id ornare eros egestas id. Etiam eget urna eu tellus ornare tristique nec ut lectus. Integer nulla tellus, mollis et dictum facilisis, mollis nec velit. Vivamus sit amet porta libero. Sed diam sapien, efficitur a neque quis, molestie ultricies arcu. Donec ornare aliquam nibh, in tempor neque auctor vel. Praesent orci metus, pretium id leo sit amet, posuere vulputate tortor. Fusce pellentesque volutpat lorem sit amet vestibulum.
			</p>
		</div>
	</div>
</div>



<div class="wrapper-container with-equal-height overlay">
	<div class="wrapper-50 green-bg center">
    	<div class="padded-content">
    		<h2>Experience HiHi</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non risus suscipit dignissim eu et nulla. Praesent lacinia tellus erat, eget sodales mauris tempus sed. Quisque at eros nec libero ullamcorper suscipit. Fusce urna velit.
			</p>
		</div>
	</div>
	<div class="wrapper-50 purple-bg center">
    	<div class="padded-content">
    		<h2>Request a Callback</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non risus suscipit dignissim eu et nulla. Praesent lacinia tellus erat, eget sodales mauris tempus sed. Quisque at eros nec libero ullamcorper suscipit. Fusce urna velit.
			</p>
		</div>
	</div>
</div>


<div class="wrapper-100" >
	<div class="container">
		<div class="padded-content">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel orci non risus suscipit dignissim eu et nulla. Praesent lacinia tellus erat, eget sodales mauris tempus sed. Quisque at eros nec libero ullamcorper suscipit. Fusce urna velit, ornare at posuere eget, rhoncus eu eros. Ut ac neque ac ligula dictum sodales. Duis nec turpis nec lorem interdum faucibus. Maecenas eu cursus elit, vitae facilisis neque. Sed elit felis, semper id dolor eu, ultricies euismod ante. In hac habitasse platea dictumst.
			</p><p>
			Nam dignissim, velit in tempor elementum, sapien risus consequat orci, sed semper arcu nisl sit amet massa. Etiam tempor ante a sodales scelerisque. Sed diam lorem, faucibus ac elementum ornare, scelerisque id nunc. Nullam convallis ipsum augue, id ornare eros egestas id. Etiam eget urna eu tellus ornare tristique nec ut lectus. Integer nulla tellus, mollis et dictum facilisis, mollis nec velit. Vivamus sit amet porta libero. Sed diam sapien, efficitur a neque quis, molestie ultricies arcu. Donec ornare aliquam nibh, in tempor neque auctor vel. Praesent orci metus, pretium id leo sit amet, posuere vulputate tortor. Fusce pellentesque volutpat lorem sit amet vestibulum.
			</p>
		</div>
	</div>
</div>


      


<div id="animation">
  <img class="sequencer" src="/assets/images/animations/0.png">
</div>

</div><!-- end container -->

<%= partial "footer" %>