<%= partial "header" %>
	<div class="wrapper-container with-equal-height">
		<div class="wrapper-50 no-margin-bottom top-left hero">
			<div class="overlay vert-centre orange">
				<div class="padded-content">
					<a href="#"><h2>Performances</h2></a>
					<!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
					<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sitetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p> -->
				</div>
			</div>
		</div>
		<div class="wrapper-50 no-margin-bottom top-right hero">
			<div class="overlay vert-centre green">
				<div class="padded-content">
					<a href="#"><h2>Projects</h2></a>
					<!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
					<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p> -->
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-equal-height">
	<div class="wrapper-50 no-margin-bottom bottom-left hero">
		<div class="overlay vert-centre green">
			<div class="padded-content">
				<a href="#"><h2>Silhouettes</h2></a>
				<!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sitetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p> -->
			</div>
		</div>
	</div>
	<div class="wrapper-50 no-margin-bottom bottom-right hero">
		<div class="overlay vert-centre orange">
			<div class="padded-content">
				<a href="#"><h2>Profile</h2></a>
				<!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p> -->
			</div>
		</div>
	</div>
</div>
<%= partial "footer" %>