<%= partial "header" %>
<section class="hero-slide">
	<div class="wrapper-container with-equal-height hero-wrapper">
		<div class="wrapper-50 no-margin-bottom top-left hero">
			<div class="overlay vert-centre">
				<div class="padded-content">
					<a href="works.html"><h2>Works</h2></a>
				</div>
			</div>
		</div>
		<div class="wrapper-50 no-margin-bottom top-right hero">
			<div class="overlay vert-centre">
				<div class="padded-content">
					<a href="producing.html"><h2>Producing</h2></a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-equal-height hero-wrapper">
		<div class="wrapper-50 no-margin-bottom bottom-left hero">
			<div class="overlay vert-centre">
				<div class="padded-content">
					<a href="http://www.roving-artist.com/taz" target="new"><h2>Silhouettes</h2></a>
			</div>
		</div>
	</div>
	<div class="wrapper-50 no-margin-bottom bottom-right hero">
		<div class="overlay vert-centre">
			<div class="padded-content">
				<a href="profile.html"><h2>Profile</h2></a>
			</div>
		</div>
	</div>
</div>
<a href="#statement" class="scroll">
	<img src="assets/images/down_circle.svg" alt="scroll down">
</a>
</section>
<section class="wrapper-container">
	<div class="container">
		<div class="wrapper-container double-margin-top double-margin-bottom">
			<div class="wrapper-50">
				<div class="padded-content">
					<h2 id="statement">Artistic Statement</h2>
					<p><em>As an artist, my performance and research interests have a focus on intercultural exchange, globalisation and history. In a world where the speed and volume at which people migrating is increasing (for work, pleasure or out of necessity), we are living in an age where trading cultures, ideas and influence has become something of the everyday.Today, boarders between countries are simultaneously breaking down with the aid of the internet, while ever-stringent laws on migration in the current climate is making passing between nations more difficult. Inspired by my own mixed family heritage (British and Japanese), I imagine all the other people in the world who can't align themselves to one nation because of mixed heritages or displacement, and contemplate how this affects us. I am interested in exploring divisions between rich traditional cultures, and what happens to them outside their own boarders. When we take an interest in another culture, where the line between misappropriation and creating something new? How do histories of the world (both local and global) have an impact on our lives today? How does our connection with others help us to understand ourselves?</em></p>
					<p><em>During performances I aim to reflect these questions in my interaction with my audience. I like to feel connected with them, while also being aware of the difference between performer and spectator, and so reflecting the binaries of being connected/disconnected, local/global, near by/far apart.</em></p>
				</div>
			</div>
			<div class="wrapper-50">
				<div class="padded-content">
					<figure>
						<img src="assets/images/aboutTazFayStevens.jpg">
						<figcaption>
							Photograph by Fay Stevens
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<%= partial "footer" %>